{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Register - TASKMATE</title>
{% endblock title %}
{% block content %}
    <div class="container">
        <br>
        <h2>Register On TASKMATE</h2>
        {% if messages %}
            {% for message in messages %}
              <div class="alert alert-primary" role="alert">
                {{ message }}
              </div>
            {% endfor %}
        {% endif %}

        <form method="post" class="mt-5 col-6">
            {% csrf_token %}
            {{ register_form|crispy }}
            <button class="btn btn-primary mb-5" type="submit">Register</button>
        </form>
    </div>
{% endblock content %}
